/* styles.css or styles.scss */
.logo {
    width: 100%;
    max-width: 100px; /* Adjust this value as needed */
    height: auto;
}

@media (max-width: 768px) {
    .logo {
        max-width: 100px; /* Adjust this value for mobile */
    }
}
